body {
    background-color: rgba(253, 252, 251, 0.699);
}
.he {
    background-color: rgba(209, 185, 141, 0.4);
    padding: 20px;
}


.fig {
    text-align: center;
    margin: 0px 400px;
}

/* .figtwo {
    text-align: center;
} */

.n {
    color: rgba(48, 40, 16, 0.966);
    font-weight: 10px;
}

.l {
    display: inline-block;
    margin: 10px -5px;
}

.d {
    /* margin: 5px -20px; */
  padding: 5px;
  border: 0px solid rgba(209, 185, 141, 0.4);
}

.one {
    box-shadow: 5px 5px 3px 5px rgba(153, 110, 53, 0.671);
}

.two {
    font-weight: bold;
    margin: 4px;
    text-align: center;
}

.para {
    font-size: 20px;
    margin: 10px;
    font-weight: 100px;
}

.film {
    
    margin: 10px;
    color: black;
}